chapter15/bpel/conf/account.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="qualified"
           elementFormDefault="qualified"
           targetNamespace="http://clood.com/schemas/it"
           xmlns:it="http://clood.com/schemas/it">

    <xs:complexType name="account">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="group" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>