chapter15/bpel/conf/ldap-service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="LdapAccountService" targetNamespace="http://it.clood.com/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://it.clood.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                    targetNamespace="http://it.clood.com" xmlns:tns="http://it.clood.com"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="Account">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="group" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
                    targetNamespace="http://it.clood.com/" xmlns:ns0="http://it.clood.com"
                    xmlns:tns="http://it.clood.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://it.clood.com"/>
            <xsd:element name="provision" type="tns:provision"/>
            <xsd:complexType name="provision">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="account" type="ns0:Account"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="provisionResponse" type="tns:provisionResponse"/>
            <xsd:complexType name="provisionResponse">
                <xsd:sequence/>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="provisionResponse">
        <wsdl:part element="tns:provisionResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="provision">
        <wsdl:part element="tns:provision" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LdapAccountServicePortType">
        <wsdl:operation name="provision">
            <wsdl:input message="tns:provision" name="provision">
            </wsdl:input>
            <wsdl:output message="tns:provisionResponse" name="provisionResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LdapAccountServiceSoapBinding" type="tns:LdapAccountServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="provision">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="provision">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="provisionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LdapAccountService">
        <wsdl:port binding="tns:LdapAccountServiceSoapBinding" name="LdapAccountServicePort">
            <soap:address location="http://localhost:8080/ldap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>